{{#if error}}
  <div class="flashMsg red z-depth-3">
    <h5>{{error}}</h5>
  </div>
{{/if}}

{{#each errors}}
  <div class="flashMsg red z-depth-3">
    <h5>{{text}}</h5>
  </div>
{{else}}

{{/each}}
