<footer class="page-footer">
  <div class="footer-copyright green darken-2">
    <div class="container">
    © 2018 Tadoo
    <a class="moreBtn grey-text text-lighten-4 right btn-flat" href="https://www.snyderdeveloper.com" target="_blank">More from me!</a>
    <br>
    Created by Nick Snyder
    </div>
  </div>
</footer>
