body,html{
    width: 100% !important;
    height: 100% !important;
    width: 100vw !important;
    height: 100vh !important;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #f9fbe7;
}

.dateCreated{
  position: absolute;
  bottom: 5px;
  left: 5px;
}

main {
  flex: 1 0 auto;
}

.todo{
  height: 200px;
  margin-bottom: 50px;
}

.todo:hover{
  cursor: pointer;
}

.welcome{
  margin-top: 3%;
}

.login{
  margin-top: 8%;
}
.register{
  margin-top: 3%;
}

.modalDate{
  margin-left: 10px !important;
}

.modal-footer{
  display: inline-flex;
  justify-content:space-around;
}

.deleteCover{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.deleteConfirmBtns{
  display: flex;
  justify-content: space-around;
  bottom: 20px;
}

.fixed-action-btn{
  bottom: 80px;
}

.flashMsg{
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.page-footer{
  border-top: black 1px solid;
  padding: 0;
}

.moreBtn:hover{
  color: black !important;
}

.zoomTodoBtn{
  position: absolute;
}


@media screen and (max-width: 993px) {
    .todo{
      /* min-height: 275px; */
      height: auto;
    }
}
@media screen and (min-width: 1300px) and (max-width: 1500px) {
    .todo{
      height: 250px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
    .todo{
      height: 300px;
    }
}

@media screen and (max-width: 600px) {
  nav .brand-logo{
    left: 5px !important;
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }
}
