<div class="row register">
  <div class="col s12 m8 offset-m2">
    <div class="card green lighten-5">
      <div class="card-content">
        <span class="card-title center">Register</span>
        <div class="container">
          <form action="/users/register" method="POST">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="name" value="{{name}}" required>
                <label for="name">Username</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="email" value="{{email}}" required>
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="password" name="password" value="" required>
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="password" name="password2" value="" required>
                <label for="password2">Confirm Password</label>
              </div>
            </div>
            <button class="btn green darken-3" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
